.wraper {
    max-width: 1640px;
    margin: 0 auto;
}
.main-header {
    height: 900px;
    background-image: url('../header-bg.png');
    background-size: cover;
    background-position: bottom center;
    position: relative;
    color: #fff;
}

.main-header::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}

.main-header__content {
    position: relative;
    z-index: 2;
}